<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788441950413-2ft2ot2gmb3jd6ifq65nracl2v2dh9a0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788441950413-2ft2ot2gmb3jd6ifq65nracl2v2dh9a0</string>
	<key>API_KEY</key>
	<string>AIzaSyDwAfvP1HZj2RR79RjItJvDtiyhVuPJ93s</string>
	<key>GCM_SENDER_ID</key>
	<string>788441950413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pcc.counterapp.dev</string>
	<key>PROJECT_ID</key>
	<string>counterapp-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>counterapp-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788441950413:ios:6605b6d011a6c77ad72184</string>
	<key>DATABASE_URL</key>
	<string>https://counterapp-dev-default-rtdb.firebaseio.com</string>
</dict>
</plist>